<!DOCTYPE html>
<html ng-app="fyberApp">
    <head>
      <title>FyberChallenge</title>
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
      <script src="javascripts/fyber_app.js"></script>
    </head>
    <body ng-controller="offersCtrl">
    </body>
</html>
